body {
	margin: 0;
	font-family: 'Montserrat', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;

  color: rgba(255, 255, 255, .95);
  height: 100vh;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: linear-gradient(to bottom, #FF0080, #FF8C00, #40E0D0);
  background-attachment: fixed;
}

input {
  background-color: rgba(255, 255, 255, .45);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 1em;
  transition: background-color .3s;
}

input:focus {
  background-color: rgba(255, 255, 255, .25);
}

:focus {
  outline: none;
}

::selection {
  background-color: rgba(255, 255, 255, .35);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
  text-align: center;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}
